#cabeça{
    background-color: rgb(255, 255, 255);
    border: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}